/* Set background color to coffee brown */
body {
  background-color: #6f4e37;
}

/* Style the title */
.title {
  color: #fdfdfd;
  margin-top: 5%;
}

.hide {
  display: none !important;
}

/* Style the "Start Quiz" button */
#startQuiz {
  background-color: #6f4e37;
  color: #fefefe;
  margin-top: 5%;
  border-radius: 20px;
  height: 60px;
  width: 180px;
  font-size: 25px;
  display: center;
  margin: 0 auto;
}

#startQuiz:hover {
  background-color: #f8f8f8;
  color: #6f4e37;
}

/* Style the main box */
#box {
  background-color: #f0e2c2;
  color: #6f4e37;
  margin-top: 5%;
  padding: 2%;
  border-radius: 10px;
  height: 100vh;
}

/* Style the question prompt */
#questionPromp {
  margin-top: 10%;
}

/* Style the answer buttons */
.buttons {
  margin-top: 5%;
}

/* Style the initials section */
#initials {
  background-color: #f5d5cb;
  color: #6f4e37;
  margin-top: 5%;
  padding: 2%;
  border-radius: 10px;
}




/* Style the textarea */
textarea {
  background-color: #f5e2d0;
  border: none;
  border-radius: 5px;
  color: #6f4e37;
}

