body {
    background-color: #D2B48C;
    color: #3C2415;
  }
  
  .cover-container {
    max-width: 42em;
    margin: 0 auto;
    background-color: #F2E6D8;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #D1C3A9;
    padding: 0 ;
    border-radius: 5px;
  }

  .rounded-image {
    border-radius: 20px;
}

  
  h1 {
    color: #3C2415;
  }
  
  h3, nav a {
    color: #3C2415;
    font-size: 30px;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .form-control {
    background-color: #E5D5B1;
    color: #3C2415;
    border-radius: 20px;
    height: 50px;
    padding: 0 20px;
    border: none;
  }

  
  .primary-btn {
    text-align: center;
    background-color: #3C2415;
    color: #F2E6D8;
    border-radius: 0px;
    border: none;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    
  }

  #centerQuiz {
    text-align: center;
    background-color: #3C2415;
    color: #F2E6D8;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    
  }
  
  .primary-btn:hover {
    background-color: #634A34;
  }
  
  .container {
    text-align: center;
    margin-top: 2em;
    border: 2px solid #D1C3A9;
    border-radius: 20px;
    padding: 20px;
    background-color: #F2E6D8;
  }
  
  .zip-data {
    margin-top: 1em;
  }

  
  