body {
  background-color: #d2b48c;
  color: #3c2415;
  height: 100vh;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 42em;
  margin: 0 auto;
  background-color: #f2e6d8;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.remover{
  background-color: lightblue; padding: 1%; border-radius: 12px; margin-top: 2%; list-style-type: none;transition: all 0.2s ease-in-out; background: linear-gradient(124deg, cadetblue, lightskyblue, lightsteelblue,lightblue, cornflowerblue); background-size: 1800% 1800%; -webkit-animation: rainbow 8s ease infinite;-z-animation: rainbow 8s ease infinite;-o-animation: rainbow 8s ease infinite;animation: rainbow 12s ease infinite;
}
.remover:hover {
  transition: transform 0.2s;
  box-shadow: 0 0 18px 4px lightcoral;
  transform: scale(.97);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #d1c3a9;
  padding: 0;
  border-radius: 5px;
}

.rounded-image {
  border-radius: 20px;
}

h1 {
  color: #3c2415;
}

h3,
nav a {
  color: #3c2415;
  font-size: 20px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1rem;
}

.form-control {
  background-color: #e5d5b1;
  color: #3c2415;
  border-radius: 20px;
  height: 50px;
  padding: 0 20px;
  border: none;
}

.primary-btn {
  text-align: center;
  background-color: #3c2415;
  color: #f2e6d8;
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

#startQuiz {
  text-align: center;
  background-color: #3c2415;
  color: #f2e6d8;
  border-radius: 20px;
  border: none;
  height: 50px;
  width: 150px;
}

.primary-btn:hover {
  background-color: #634a34;
}

.container-quiz {
  text-align: center;
  margin-top: 2em;
  border: 2px solid #d1c3a9;
  border-radius: 20px;
  padding: 20px;
  background-color: #f2e6d8;
}

.container-search {
  text-align: center;
  margin-top: 2em;
  border: 2px solid #d1c3a9;
  border-radius: 20px;
  padding: 20px;
  background-color: #f2e6d8;
}

.zip-data {
  margin-top: 1em;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@media screen and (max-width: 500px) {
  #zip-code-btn {
    margin-top: 10px;
  }
}
